In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import datetime
from sklearn import metrics
import statsmodels.formula.api as sm
# from sklearn.cross_validation import cross_val_score #get deprecation warning 
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
%matplotlib inline
import seaborn as sns
from sklearn.utils import shuffle
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import cross_val_score,cross_val_predict
from sklearn.model_selection import KFold,train_test_split
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn import datasets
from sklearn import svm
from sklearn.datasets import make_friedman1
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error
from sklearn.neural_network import MLPRegressor

/Users/clawlor90/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

### Load in the full month of data

In [2]:
#df1 = pd.read_csv('../../../files/cleanedfeb17.csv', sep=",")

In [3]:
#df1.head()

In [4]:
#feb_week = df1[(df1['dayofservice'] == '05-FEB-17 00:00:00') | (df1['dayofservice'] == '06-FEB-17 00:00:00') | (df1['dayofservice'] == '07-FEB-17 00:00:00') | (df1['dayofservice'] == '08-FEB-17 00:00:00') | (df1['dayofservice'] == '09-FEB-17 00:00:00') | (df1['dayofservice'] == '10-FEB-17 00:00:00') | (df1['dayofservice'] == '11-FEB-17 00:00:00')]

In [5]:
# feb_week.to_csv('../../../files/febweek.csv',index=False)

In [6]:
feb_week = pd.read_csv('../../../febweekfull.csv',sep=',')

/Users/clawlor90/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
feb_week.head()

,dayofservice,tripid,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,lineid,actualtime,day_of_week,hour,Precipitation,Temperature,Relative Humidity,day_of_week_code,weekday,time_interval
0,2017-02-05,4344622,3,229,36092,36092,35991,36012,1,09:59:51,Sunday,9,None,-2.8,95,6,False,8am-10am
1,2017-02-05,4344622,9,213,36423,36423,36249,36260,1,10:04:09,Sunday,10,None,0.8,97,6,False,10am-1pm
2,2017-02-05,4344622,17,47,36726,36726,36626,36626,1,10:10:26,Sunday,10,None,0.8,97,6,False,10am-1pm
3,2017-02-05,4344622,15,45,36614,36614,36499,36532,1,10:08:19,Sunday,10,None,0.8,97,6,False,10am-1pm
4,2017-02-05,4344622,23,271,37175,37175,37131,37224,1,10:18:51,Sunday,10,None,0.8,97,6,False,10am-1pm

In [8]:
feb_week.tail()

,dayofservice,tripid,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,lineid,actualtime,day_of_week,hour,Precipitation,Temperature,Relative Humidity,day_of_week_code,weekday,time_interval
1663294,2017-02-11,4327281,12,2434,84062,84062,84075,84089,9,23:21:15,Saturday,23,Slight,5.0,85,5,False,after_7pm
1663295,2017-02-11,4327281,13,2435,84098,84098,84121,84121,9,23:22:01,Saturday,23,Slight,5.0,85,5,False,after_7pm
1663296,2017-02-11,4327281,14,2436,84114,84114,84133,84133,9,23:22:13,Saturday,23,Slight,5.0,85,5,False,after_7pm
1663297,2017-02-11,4327281,15,2437,84159,84159,84181,84197,9,23:23:01,Saturday,23,Slight,5.0,85,5,False,after_7pm
1663298,2017-02-11,4327281,3,2446,83762,83762,83737,83754,9,23:15:37,Saturday,23,Slight,5.0,85,5,False,after_7pm

### Sort columns out

In [9]:
feb_week['dayofservice'] = pd.to_datetime(feb_week['dayofservice'])
feb_week['actualtime'] = pd.to_datetime(feb_week['actualtime_arr'],unit='s').dt.time

In [10]:
feb_week.dtypes

dayofservice         datetime64[ns]
tripid                        int64
progrnumber                   int64
stoppointid                   int64
plannedtime_arr               int64
plannedtime_dep               int64
actualtime_arr                int64
actualtime_dep                int64
lineid                       object
actualtime                   object
day_of_week                  object
hour                          int64
Precipitation                object
Temperature                 float64
Relative Humidity             int64
day_of_week_code              int64
weekday                        bool
time_interval                object
dtype: object

### Create a column for the day of the week and the hour to which the data relates

In [11]:
feb_week['day_of_week'] =feb_week.dayofservice.dt.weekday_name
feb_week['hour'] = pd.to_datetime(feb_week['actualtime_arr'],unit='s').dt.hour

In [12]:
feb_week = feb_week.reset_index()

In [13]:
feb_week.head(1)

,index,dayofservice,tripid,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,lineid,actualtime,day_of_week,hour,Precipitation,Temperature,Relative Humidity,day_of_week_code,weekday,time_interval
0,0,2017-02-05,4344622,3,229,36092,36092,35991,36012,1,09:59:51,Sunday,9,None,-2.8,95,6,False,8am-10am

In [14]:
feb_week.dtypes

index                         int64
dayofservice         datetime64[ns]
tripid                        int64
progrnumber                   int64
stoppointid                   int64
plannedtime_arr               int64
plannedtime_dep               int64
actualtime_arr                int64
actualtime_dep                int64
lineid                       object
actualtime                   object
day_of_week                  object
hour                          int64
Precipitation                object
Temperature                 float64
Relative Humidity             int64
day_of_week_code              int64
weekday                        bool
time_interval                object
dtype: object

In [15]:
feb_week.head()

,index,dayofservice,tripid,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,lineid,actualtime,day_of_week,hour,Precipitation,Temperature,Relative Humidity,day_of_week_code,weekday,time_interval
0,0,2017-02-05,4344622,3,229,36092,36092,35991,36012,1,09:59:51,Sunday,9,None,-2.8,95,6,False,8am-10am
1,1,2017-02-05,4344622,9,213,36423,36423,36249,36260,1,10:04:09,Sunday,10,None,0.8,97,6,False,10am-1pm
2,2,2017-02-05,4344622,17,47,36726,36726,36626,36626,1,10:10:26,Sunday,10,None,0.8,97,6,False,10am-1pm
3,3,2017-02-05,4344622,15,45,36614,36614,36499,36532,1,10:08:19,Sunday,10,None,0.8,97,6,False,10am-1pm
4,4,2017-02-05,4344622,23,271,37175,37175,37131,37224,1,10:18:51,Sunday,10,None,0.8,97,6,False,10am-1pm

In [16]:
feb_week.dtypes

index                         int64
dayofservice         datetime64[ns]
tripid                        int64
progrnumber                   int64
stoppointid                   int64
plannedtime_arr               int64
plannedtime_dep               int64
actualtime_arr                int64
actualtime_dep                int64
lineid                       object
actualtime                   object
day_of_week                  object
hour                          int64
Precipitation                object
Temperature                 float64
Relative Humidity             int64
day_of_week_code              int64
weekday                        bool
time_interval                object
dtype: object

In [17]:
feb_week['day_of_week_code'] =feb_week.dayofservice.dt.dayofweek
feb_week['weekday'] = feb_week['day_of_week_code']<5
feb_week['time_interval'] = pd.cut(feb_week['hour'], [4,7, 9, 12,16,18,23], labels=['before_8am','8am-10am','10am-1pm','1pm-5pm','5pm-7pm','after_7pm'])

In [18]:
feb_week.set_index(['dayofservice'], inplace=True)
feb_week = feb_week.sort_values(by=['tripid', 'progrnumber'], ascending=True)

In [19]:
feb_week['time_between_stops'] = feb_week.groupby(level=0)['actualtime_arr'].diff()

KeyboardInterrupt:

In [ ]:
feb_week[100:150]

In [ ]:
feb_week.shape

In [ ]:
feb_week.time_between_stops.clip_lower(5)
feb_week.time_between_stops.clip_upper(2000)

In [ ]:
feb_week.time_between_stops.fillna(1,inplace=True)

In [ ]:
feb_week.head()

### Shuffle and split data to run models

In [ ]:
#Split the dataset into two datasets: 70% training and 30% test.
shuffled = shuffle(feb_week)

y = feb_week[['time_between_stops']]
X_train, X_test, y_train, y_test = train_test_split(shuffled, y.values.ravel(), test_size=0.3)

#Extract only the columns we are using as predictors 
X= X_train[['Temperature', 'weekday']]
X_train=X_train[['Temperature', 'weekday']]
X_test=X_test[['Temperature','weekday']]

### ANN Model

In [ ]:
ann = MLPRegressor(solver='lbfgs', alpha=1e-5,  hidden_layer_sizes=(5, 2), random_state=1)
ann.fit(X_train, y_train)
print ('Training set:')
print_metrics(ann.predict(X_train), y_train)
print_metrics(ann.predict(X_test), y_test)
print ('\nTest set:')

### Gradient Boosting Model

In [ ]:
est = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1,max_depth=1, random_state=0, loss='ls').fit(X_train, y_train)
est
print ('Training set:')
print_metrics(est.predict(X_train),y_train)
print ('\nTest set:')
print_metrics(est.predict(X_test),y_test)

In [ ]:
params = {'n_estimators': 100, 'max_depth': 1,
          'learning_rate': 0.1, 'loss': 'ls'}

# compute test set deviance
test_score = np.zeros((params['n_estimators'],), dtype=np.float64)

for i, y_pred in enumerate(est.staged_predict(X_test)):
    test_score[i] = est.loss_(y_test, y_pred)

plt.figure(figsize=(12, 6))
plt.subplot(1, 2, 1)
plt.title('Deviance')
plt.plot(np.arange(params['n_estimators']) + 1, est.train_score_, 'b-',
         label='Training Set Deviance')
plt.plot(np.arange(params['n_estimators']) + 1, test_score, 'r-',
         label='Test Set Deviance')
plt.legend(loc='upper right')
plt.xlabel('Boosting Iterations')
plt.ylabel('Deviance')

# #############################################################################
# Plot feature importance
feature_importance = est.feature_importances_
# make importances relative to max importance
feature_importance = 100.0 * (feature_importance / feature_importance.max())
sorted_idx = np.argsort(feature_importance)
pos = np.arange(sorted_idx.shape[0]) + .5
plt.subplot(1, 2, 2)
plt.barh(pos, feature_importance[sorted_idx], align='center')
plt.yticks(pos, df_rf.columns)
plt.xlabel('Relative Importance')
plt.title('Variable Importance')
plt.show()

### Random Forest Model

In [ ]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42) # Instantiate model with 1000 decision trees
rf.fit(X_train, y_train)    # Train the model on training data

In [ ]:
print ('Training set:')
print_metrics(rf.predict(X_train),y_train )
print ('\nTest set:')
print_metrics(rf.predict(X_test),y_test )